<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:log.home}/static/</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
        <property name="DEBUG_LOG_FILE_NAME">debug</property>
        <property name="INFO_LOG_FILE_NAME">info</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="status"
                                 fileName="${LOG_HOME}/logs/status_${INFO_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/logs/status/status_${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="watched"
                                 fileName="${LOG_HOME}/logs/watched_${INFO_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/logs/watched/watched_${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="hex_key"
                                 fileName="${LOG_HOME}/logs/hex_key_${INFO_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/logs/hex_key/hex_key_${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="error"
                                 fileName="${LOG_HOME}/logs/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/logs/error/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="record"
                                 fileName="${LOG_HOME}/logs/record_${INFO_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/logs/record/record_${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="demo"
                                 fileName="${LOG_HOME}/logs/demo.log"
                                 filePattern="${LOG_HOME}/logs/demo/demo.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="base"
                                 fileName="${LOG_HOME}/logs/base.log"
                                 filePattern="${LOG_HOME}/logs/base/base.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="base" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
        </logger>
        <logger name="demo" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="demo"/>
        </logger>
        <logger name="watched" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="watched"/>
        </logger>
        <logger name="hex_key" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="hex_key"/>
        </logger>
        <logger name="record" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="record"/>
        </logger>
        <logger name="error" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="error"/>
        </logger>
        <logger name="status" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="status"/>
        </logger>
        <logger name="com.yk.httprequest" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="error"/>
        </logger>
        <logger name="com.yk.crypto" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="error"/>
        </logger>

        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>