<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/cache
      http://www.springframework.org/schema/cache/spring-cache.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<context:component-scan/>标签是告诉Spring 来扫描指定包下的类，
    并注册被@Component，@Controller，@Service，@Repository等注解标记的组件。
    而<context:annotation-config/>是告知Spring，我们启用注解驱动。
    然后Spring会自动为我们注册上面说到的几个Bean到工厂中，来处理我们的请求。-->
    <context:component-scan base-package="com.yk"/>

    <!--使用<context:annotation- config/>隐式地向 Spring容器注册
    AutowiredAnnotationBeanPostProcessor、RequiredAnnotationBeanPostProcessor、
    CommonAnnotationBeanPostProcessor以及PersistenceAnnotationBeanPostProcessor
    这4个BeanPostProcessor-->
    <!--有component-scan不再需要annotation-config -->
    <context:annotation-config/>

    <!-- EncryptPropertyPlaceholderConfigurer做了两件事: 1. 替换配置文件中的加密密码 2. 替换xml配置中的占位符-->
    <bean class="com.yk.base.config.EncryptPropertyPlaceholderConfigurer"
          p:location="classpath:druid.properties" p:fileEncoding="UTF-8"/>


    <!--<context:property-placeholder location="classpath:druid.properties" ignore-unresolvable="true"/>-->
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="20"/>
        <!-- 连接池最大空闲
        <property name="maxIdle" value="20" />
        -->
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="5"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="60000"/>
        <!--
        <property name="poolPreparedStatements" value="true" />
        <property name="maxPoolPreparedStatementPerConnectionSize" value="33" />
        -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>

        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="3600"/>
        <!-- 关闭abandoned连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>

        <!-- 开启Druid的监控统计功能 -->
        <property name="filters" value="stat"/>
        <!--<property name="filters" value="mergeStat" /> -->
        <!-- Oracle连接是获取字段注释 -->
        <property name="connectProperties">
            <props>
                <prop key="remarksReporting">true</prop>
            </props>
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <!-- 这里的context:property-placeholder等价于 PropertySourcesPlaceholderConfigurer -->
    <!-- <context:property-placeholder location="classpath:mybatis-config.properties"/> -->
    <!-- 注意: spring xml注册bean, 若其中有Properties params;的全局变量, 并不能简单使用 <property name="params" value="classpath:params.properties"/> 作为该bean的配置-->
    <!-- 需要PropertiesFactoryBean解析params.properties后, 把myConfigProperties代入到该bean的配置中-->

    <!-- 这个配置可以将xml文件中的占位符位置上的信息替换为配置文件中的值, 若配置文件中存在加密等特殊信息, 可以自定义PropertySourcesPlaceholderConfigurer -->
    <!--<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:params.properties"/>
    </bean>-->

    <!-- 这个配置可以将xml文件中的占位符位置上的信息替换为配置文件中的值, 若配置文件中存在加密等特殊信息, 可以自定义PropertySourcesPlaceholderConfigurer -->
    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:params.properties"/>
    </bean>-->

    <!-- 这里就是定义了一个普通的Properties的bean 这个Properties中包含了params.properties中的所有配置项
    (若配置中存在加密密码等信息, 可以同时配置自定义的PropertySourcesPlaceholderConfigurer来替换, 这个优先于PropertiesFactoryBean会将配置中的特殊值替换) -->
    <!--<bean id="myConfigProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:params.properties"/>
    </bean>-->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/**/*.xml"/>
        <property name="typeAliasesPackage" value="com.yk.demo.model"/>

        <!-- variables作为全局变量, 可以在sql中直接用 '${xxx.xxx}' 直接获取到, 也可用于sql中的表达式(例如<if test="'${xxx.xxx}' == 'value'">) -->

        <!-- 设置mybatis全局变量方式一(Configuration.variables) -->
        <!-- mybatis通过configLocation配置mybatis-config.xml生成Configuration, 其中配置的中的<properties resource="xx.properties"/>会写入Configuration中的variables-->
        <!-- <property name="configLocation" value="classpath:mybatis-config.xml"></property> -->

        <!-- 设置mybatis全局变量方式二(Configuration.variables) -->
        <!-- <property name="configurationProperties" ref="myConfigProperties" /> -->

        <!-- 通过下面的方式可以注册mybatis的interceptor, 可以不定义mybatis-config.xml去配置configLocation -->
        <!--<property name="plugins">
            <array>
                <bean class="com.example.MyInterceptor">
                    dialect作为key-value, 放入MyInterceptor的properties属性
                    <property name="dialect" value="${xxx.xxx}"></property>
                </bean>
            </array>
        </property>-->
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- 接口模式 -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- Cannot use both: sqlSessionTemplate and sqlSessionFactory together. sqlSessionFactory is ignored. -->
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>-->
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/>
        <property name="basePackage" value="com.yk.demo.dao"/>
    </bean>

    <!-- 注解和切面事务 二选一即可 -->
    <!-- ↓配置注解事务↓ -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 对@Transactional 注解的Bean进行讲过处理，以织入事务管理切面 相当于 @EnableTransactionManagement(proxyTargetClass = true) -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <!-- ↑配置注解事务↑ -->


    <!-- ↓配置切面事务↓ -->
    <!--Spring 定义的POJO切面 没有配置注解事务的时候 该切面可以自动为符合的expression的方法或者类增加事务管理 -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethod" expression="(execution(* com.yk..service..*(..)))
        and (@annotation(org.springframework.transaction.annotation.Transactional))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
            <!--<tx:method name="query*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="get*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="select*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />-->
        </tx:attributes>
    </tx:advice>
    <!-- ↑配置切面事务↑ -->


    <!-- 通知Spring 开启扫描 @Aspect 切面编程自动代理 相当于 @EnableAspectJAutoProxy(proxyTargetClass = true) -->
    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter">
                    <!-- 使用配置方式配置FormHttpMessageConverter 如果要自定义supportedMediaTypes和partConverters必须把FormHttpMessageConverter构造函数中默认的信息也带上 -->
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/x-www-form-urlencoded</value>
                            <value>multipart/form-data</value>
                            <value>multipart/mixed</value>
                            <value>application/json</value>
                        </list>
                    </property>
                    <property name="partConverters">
                        <list>
                            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                            <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
                            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    <import resource="spring-cxf.xml" />
</beans>