<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:catalina.home}</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%C:%L) - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="other"
                                 fileName="${LOG_HOME}/logs/other.log"
                                 filePattern="${LOG_HOME}/logs/other.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%C:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="common"
                                 fileName="${LOG_HOME}/logs/common.log"
                                 filePattern="${LOG_HOME}/logs/common.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%C:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="base"
                                 fileName="${LOG_HOME}/logs/base.log"
                                 filePattern="${LOG_HOME}/logs/base.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                    pattern="%d %-5p (%C:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="com.yk" level="debug" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
            <!-- <appender-ref ref="Console"/>-->
        </logger>
        <logger name="org.springframework" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="common"/>
            <!-- <appender-ref ref="Console"/>-->
        </logger>
        <logger name="org.apache" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="common"/>
            <!-- <appender-ref ref="Console"/>-->
        </logger>

        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
            <!-- 不包含在已经配置的logger的name中的其余日志 -->
            <appender-ref ref="other"/>
        </root>
    </Loggers>
</Configuration>