<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:log.home}/static/</property>
        <property name="LOG_FILE_NAME">base</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="spring"
                                 fileName="${LOG_HOME}/logs/spring.log"
                                 filePattern="${LOG_HOME}/logs/spring/spring.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p] [%t] {%C:%L} - %m%n%xwEx"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="apache"
                                 fileName="${LOG_HOME}/logs/apache.log"
                                 filePattern="${LOG_HOME}/logs/apache/spring.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p] [%t] {%C:%L} - %m%n%xwEx"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="base"
                                 fileName="${LOG_HOME}/logs/${LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/logs/error/${LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p] [%t] {%C:%L} - %m%n%xwEx"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="other"
                                 fileName="${LOG_HOME}/logs/other.log"
                                 filePattern="${LOG_HOME}/logs/other/other.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p] [%t] {%C:%L} - %m%n%xwEx"/>
                    <!--pattern="%d %-5p (%F:%L) - %m%n"/>-->
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="com.yk" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
        </logger>
        <logger name="org.springframework" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="spring"/>
        </logger>
        <logger name="org.apache" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="apache"/>
        </logger>

        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="other"/>
        </root>
    </Loggers>
</Configuration>