<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:log.home}/static/</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="other"
                                 fileName="${LOG_HOME}/logs/other.log"
                                 filePattern="${LOG_HOME}/logs/other.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout charset="UTF-8"
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="base"
                                 fileName="${LOG_HOME}/logs/base.log"
                                 filePattern="${LOG_HOME}/logs/base.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout charset="UTF-8"
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="base" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
        </logger>
        <logger name="other" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="other"/>
        </logger>
        <logger name="com.yk" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
        </logger>
        <logger name="org.springframework.boot" level="ERROR">
            <appender-ref ref="other"/>
        </logger>
        <logger name="org.springframework.security" level="ERROR">
            <appender-ref ref="other"/>
        </logger>
        <logger name="org.springframework.session" level="ERROR">
            <appender-ref ref="other"/>
        </logger>
        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="other"/>
        </root>
    </Loggers>
</Configuration>