<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/jquery/jquery-1.8.0.min.js}" ></script>
</head>
<body>
    <div>
        <button th:disabled="${run}" id="start">开始</button>
        <button th:disabled="${!run}" id="stop">停止</button>
        <div id="status"></div>
    </div>
    <div>
        <a th:href="@{/logs/record_info.log}" target="_blank">地址</a>
    </div>
    <div>
        <a th:href="@{/logs/hex_key_info.log}" target="_blank">16进制地址</a>
    </div>
    <div>
        <a th:href="@{/logs/watched_info.log}" target="_blank">结果</a>
    </div>
    <div>
        <a th:href="@{/logs/status_info.log}" target="_blank">状态</a>
    </div>
</body>
<script th:inline="javascript">

    $(function () {
        $("#start").click(function () {
            todo(this.id);
        });
        $("#stop").click(function () {
            todo(this.id);
        });
    });

    function todo(status) {
        $.ajax({
            type: "post",
            contentType: "application/json",
            url: "/block/chain/" + status,
            data: '{"a": "1"}',
            async: true,
            success: function (result) {
                if (result.status === 'OK') {
                    window.location.href = "/";
                }
            }
        });
    }
</script>
</html>