<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" th:src="@{/resource/jquery-1.8.3.js}"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        function uploadOnload() {
            // var body = $(window.frames['_upload_resp_iframe'].window.document.body);
            var body = $(window.frames['_upload_resp_iframe'].document.body);
            var retMsg = $("#returnMsg");
            retMsg.text(body.context.textContent);

            //top.document.getElementById("_upload_resp_iframe").contentWindow.document.body.textContent
            //top.document.getElementById("_upload_resp_iframe").contentDocument.body.textContent
        }
    </script>
    <script th:inline="javascript">
        function download (url, params){
            params = params || {};
            var iframeId = "iframe_id" + new Date().getTime();
            var iframeEl = document.getElementById(iframeId);
            if (!iframeEl) {
                var _iframe = document.createElement("iframe");
                _iframe.setAttribute("id", iframeId);
                _iframe.setAttribute("name", iframeId);
                _iframe.setAttribute("style", "width:  0px; height: 0px; display: none; ");
                _iframe.setAttribute("src", "about: blank");
                top.document.getElementsByTagName("body")[0].appendChild(_iframe);
                iframeEl = document.getElementById(iframeId);
            }
            var iframeDoc = iframeEl.contentDocument;
            iframeDoc.open();
            iframeDoc.write('<form method="post" action="' + url + '" >');
            iframeDoc.close();
            var formEl = iframeDoc.getElementsByTagName("form");

            for (var _key in params) {
                var _input = document.createElement("input");
                _input.setAttribute("name", _key);
                _input.setAttribute("value", params[_key]);
                formEl[0].appendChild(_input);
            }
            formEl[0].submit();
        }

        function post(){
            $.ajax({
                url: "/index/download/file",
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                data: 'downloadName=aaa.zip',
                async: true,
                // headers: {
                //     Accept: "application/json; charset=utf-8"
                // },
                success: function (res) {
                }
            });
        }

        axios.get('/index/download/file', {
            params: {
                ID: 12345
            }
        })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    </script>
</head>
<body>
<form method="post" action="/index/download/upload" enctype="multipart/form-data" target="_upload_resp_iframe">
    选择要上传的文件：<input accept=".zip,.exe,.tar.gz,.txt" placeholder="请选择文件" multiple="multiple" type="file" name="_upload_input1"><br>
    <hr>
    <input type="submit" value="提交">
</form>
<span id="returnMsg" style="margin-left:20px;font-size:15px;"></span>
<iframe style="display: none" onload="uploadOnload()" name="_upload_resp_iframe" id="_upload_resp_iframe"></iframe>
</body>
</html>