<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <meta name="referrer" content="no-referrer">
    <title>xgplayer</title>
    <!--<style type="text/css">
        html, body {width:100%;height:100%;margin:auto;overflow: hidden;}
    </style>-->
</head>
<body>
<div style="width: 600px; height: 337px">
    <div id="mse"></div>
</div>
<script src="//unpkg.byted-static.com/xgplayer/2.31.6/browser/index.js" charset="utf-8"></script>
<script src="//unpkg.byted-static.com/xgplayer-hls.js/2.2.2/browser/index.js" charset="utf-8"></script>
<script th:inline="javascript">
    let player = new Player({
        "id": "mse",
        "url": /*<![CDATA[*//*[[${source}]]*/ ""/*]]>*/,
        "playsinline": true,
        "whitelist": [
            ""
        ],
        "autoplay": true,
        "fluid": true,
        "width": 600,
        "height": 250,
        "playbackRate": [
            0.75,
            1,
            1.5
        ]
    });

</script>
</body>
</html>
