<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resource/webuploader-0.1.5/webuploader.css}">
    <script type="text/javascript" th:src="@{/resource/jquery-1.8.3.js}"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/resource/webuploader-0.1.5/webuploader.js}"></script>
    <script type="text/javascript" th:src="@{/resource/md5.js}"></script>
    <script type="text/javascript">
        $(function() {
            console.log('start......');
        })

        function _sliceUpload() {
            const file = $("#_upload_input1")[0].files[0];
            const length = 50 * 1024 * 1024; // 以5MB为一个分片
            const fileSize = file.size;
            const total = fileSize % length === 0 ? parseInt(fileSize / length) : (parseInt(fileSize / length) + 1);

            const id = new Date().getTime();
            // 文件里的文本会在这里被打印出来
            for (let _index = 0; _index < total; _index++) {
                let start = length * _index;
                let end = length * (_index + 1)

                if (end >= fileSize) {
                    end = fileSize;
                }
                let chunk = file.slice(start, end);
                //拿到切片 可以进行上传
                const formData = new FormData();
                formData.append("file", chunk);
                formData.append("id", id + '');
                formData.append('index', _index + '');
                formData.append('length', length + '');
                formData.append('total', total + '');
                formData.append('fileName', file.name);

                // 调用接口上传
                $.ajax({
                    url: '/video/upload',
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false
                    /*success: function (_res){
                        console.log(_res)
                    }*/
                }).done(function (res) {
                    console.log(res);
                }).fail(function (res) {
                    console.log(res)
                });
            }
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        $(function() {
            //开始上传按钮
            const $btn = $('#ctlBtn');
            const $resetBtn = $('#resetBtn');
            //文件信息显示区域
            const $list = $('#thelist');
            //当前状态
            let state = 'pending';

            WebUploader.Uploader.register({
                'before-send-file': 'beforeSendFile',
                'before-send': 'beforeSend'
            }, {
                /*beforeSendFile: function (file) {
                    console.log("beforeSendFile");
                    // Deferred对象在钩子回掉函数中经常要用到，用来处理需要等待的异步操作。
                    var task = new $.Deferred();
                    // 根据文件内容来查询MD5
                    uploader.md5File(file).progress(function (percentage) { // 及时显示进度
                        console.log('计算md5进度:', percentage);
                    }).then(function (val) {
                        console.log('md5 result:', val);
                        file.md5 = val;
                        file.uid = WebUploader.Base.guid();
                        task.resolve();
                    });
                    return $.when(task);
                },*/
                beforeSend: function (block) {
                    var task = new $.Deferred();
                    var file = block.file;
                    var blockChunk = block.chunk;
                    console.log("当前分块：" + blockChunk);
                    task.resolve();
                    return $.when(task);
                }
            });
            //初始化Web Uploader
            const _chunkSize = 50 * 1024 * 1024;

            var uploader = WebUploader.create({
                // swf文件路径
                swf: 'webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/video/webuploader',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker',
                chunked: true, // 是否要分片处理大文件上传
                chunkRetry: 3, // 如果某个分片由于网络问题出错，允许自动重传多少次
                chunkSize: _chunkSize, // 分片粒度 50M
                threads: 10, // 上传并发数。允许同时最大上传进程数
                multiple: false,
                resize: false,
                // duplicate: true,
                disableGlobalDnd: true,
                accept:  [
                    {
                        mimeTypes: '.zip,.exe,.tar.gz,.txt,.mp4',
                    },
                ],
                formData: {
                    sliceSize: _chunkSize,
                },
                timeout: 60000, //超时时间
            });

            // 当有文件被添加进队列的时候（选择文件后调用）
            uploader.on( 'fileQueued', function( file ) {
                $list.append( '<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                    '</div>' );
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on( 'uploadProgress', function( file, percentage ) {
                var $li = $( '#'+file.id );
                $li.find('p.state').text('上传中（' + parseInt(percentage * 100) + '%）');
                if(Math.round(percentage * 100) === 100)
                {
                    $li.find('p.state').text('即将完成（' + parseInt(percentage * 100) + '%）');
                }
            });

            // 文件上传成功后会调用
            uploader.on( 'uploadSuccess', function( file ) {
                $( '#'+file.id ).find('p.state').text('已上传');
            });

            // 文件上传失败后会调用
            uploader.on( 'uploadError', function( file ) {
                $( '#'+file.id ).find('p.state').text('上传出错');
            });

            // 文件上传完毕后会调用（不管成功还是失败）
            uploader.on( 'uploadComplete', function( file ) {
                $( '#'+file.id ).find('.progress').fadeOut();
            });

            // all事件（所有的事件触发都会响应到）
            uploader.on( 'all', function( type ) {
                if ( type === 'startUpload' ) {
                    state = 'uploading';
                } else if ( type === 'stopUpload' ) {
                    state = 'paused';
                } else if ( type === 'uploadFinished' ) {
                    state = 'done';
                }

                if ( state === 'uploading' ) {
                    $btn.text('暂停上传');
                } else {
                    $btn.text('开始上传');
                }
            });

            // 开始上传按钮点击事件响应
            $btn.on( 'click', function() {
                if ( state === 'uploading' ) {
                    uploader.stop();
                } else {
                    uploader.upload();
                }
            });
            $resetBtn.click(function(){
                uploader.retry(); // 重新上传
            })
        });
    </script>
    <style>
        #picker {
            display: inline-block;
        }
        #ctlBtn {
            position: relative;
            display: inline-block;
            cursor: pointer;
            background: #EFEFEF;
            padding: 10px 15px;
            color: #2E2E2E;
            text-align: center;
            border-radius: 3px;
            overflow: hidden;
        }
        #ctlBtn:hover {
            background: #DDDDDD;
        }
    </style>
</head>
<body>
    <div id="uploader" class="wu-example">
        <div class="btns">
            <div id="picker">选择文件</div>
            <div id="ctlBtn" class="webuploader-upload">开始上传</div>
            <button id="resetBtn" class="btn btn-default" >重试</button>
        </div>
        <!--用来存放文件信息-->
        <div id="thelist" class="uploader-list"></div>
    </div>

    <div style="margin-top: 30px">
        <div>
            <span>选择要上传的文件：</span>
        </div>
        <div>
            <input style="width: 196px;" accept=".zip,.exe,.tar.gz,.txt,.mp4" placeholder="请选择文件" type="file" name="_upload_input1" id="_upload_input1">
            <input type="button" value="提交" id="_upload_input1_btn" onclick="_sliceUpload()">
        </div>
    </div>
</body>
</html>