<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:catalina.home}</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="other"
                                 fileName="${LOG_HOME}/logs/other.log"
                                 filePattern="${LOG_HOME}/logs/other.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="base"
                                 fileName="${LOG_HOME}/logs/base.log"
                                 filePattern="${LOG_HOME}/logs/base.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="common"
                                 fileName="${LOG_HOME}/logs/common.log"
                                 filePattern="${LOG_HOME}/logs/common.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- 输出base组中的日志到base appender -->
        <logger name="base" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
        </logger>
        <!-- 输出com.yk包下的日志到base appender -->
        <logger name="com.yk" level="debug" includeLocation="true" additivity="false">
            <appender-ref ref="base"/>
            <appender-ref ref="Console"/>
        </logger>
        <!-- 输出org.springframework包下的日志到common appender -->
        <logger name="org.springframework" level="warn" includeLocation="true" additivity="false">
            <appender-ref ref="common"/>
        </logger>
        <!-- 输出org.apache包下的日志到common appender -->
        <logger name="org.apache" level="warn" includeLocation="true" additivity="false">
            <appender-ref ref="common"/>
        </logger>

        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
            <!-- 输出其他依赖包下的日志到 other appender, 不配置的话, 其他依赖例如org.mybatis包中产生的日志打印不出来-->
            <appender-ref ref="other"/>
        </root>
    </Loggers>
</Configuration>